In [2]:
import csv

# Define the data
dataset = [
    ['R_e', 'V_e', 'inc', 'T_p', 'pa'],  
    ['3.229546812070865', '355.3821222169686', '56.22872726757305', '10549.079276472225', '91.85433974776912']
]

# Specify the file path
filename = 'best_fitting_model.csv'

# Write the dataset to a CSV file
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(dataset)

print('CSV dataset created successfully.')

CSV dataset created successfully.

In [4]:
data = pd.read_csv('/Users/john/Desktop/presentation III/best_fitting_model.csv')
with pd.option_context('display.max_columns', None, 'display.max_rows', None):
    display(data)

        R_e         V_e        inc           T_p        pa
0  3.229547  355.382122  56.228727  10549.079276  91.85434